@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';



 @font-face {
  font-family: Inter-ExtraBold;
  src: url('/assets/fonts/static/Inter-ExtraBold.ttf');
} 
@font-face {
  font-family: Inter-Regular;
  src: url('/assets/fonts/static/Inter-Regular.ttf');
} 
@font-face {
  font-family: inter-Variable;
  src: url('/assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
} 

body{
  font-family: 'Inter',sans-serif;
  margin:3rem
}
h2{
  font-family: 'Inter-Regular';
}
